* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
}

a {
  transition: all 0.15s ease-in-out;
  align-content: center;
  text-align: center;
  color: white;
  width: 180px;
  height: 50px;
  text-decoration: none;
  padding: 5px;
}

a:hover {
  background: antiquewhite;
  color: black;
}
